Repository Patras3/camera-snapshot-processor: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-frontend-files, validate-manifest, check-api-endpoints

.pre-commit-config.yaml:

# Pre-commit hooks for Camera Snapshot Processor
# Install: pip install pre-commit && pre-commit install

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3.12
        files: ^custom_components/.*\.py$

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
        files: ^custom_components/.*\.py$

  # Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=100", "--extend-ignore=E203,W503"]
        files: ^custom_components/.*\.py$

  # Remove trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        files: ^custom_components/.*\.json$
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: ^custom_components/.*/fonts/.*\.ttf$

  # Custom integration tests
  - repo: local
    hooks:
      - id: integration-tests
        name: Integration Structure Tests
        entry: ./venv/bin/python test_integration.py
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: api-flow-tests
        name: API Flow Tests
        entry: ./venv/bin/python test_api_flow.py
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: frontend-validation
        name: Frontend Validation
        entry: ./venv/bin/python test_frontend.py
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: check-frontend-files
        name: Check frontend files exist
        entry: bash -c 'test -f custom_components/camera_snapshot_processor/frontend/panel.html && test -f custom_components/camera_snapshot_processor/frontend/panel.js && test -f custom_components/camera_snapshot_processor/frontend/styles.css'
        language: system
        pass_filenames: false
        files: ^custom_components/camera_snapshot_processor/frontend/

      - id: validate-manifest
        name: Validate manifest.json
        entry: python -m json.tool
        language: system
        files: ^custom_components/camera_snapshot_processor/manifest\.json$

      - id: check-api-endpoints
        name: Verify API endpoint consistency
        entry: bash -c 'grep -q "camera_snapshot_processor" custom_components/camera_snapshot_processor/api.py && grep -q "/api/camera_snapshot_processor" custom_components/camera_snapshot_processor/frontend/panel.js'
        language: system
        pass_filenames: false
        files: ^custom_components/camera_snapshot_processor/(api\.py|frontend/panel\.js)$

      - id: validate-version-cache-busting
        name: Validate resource version cache busting
        entry: python validate_version.py
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

Fix HACS missing icon issue with optimized transparent PNG
  icon.png
  logo.png
Due: none

Add brands_submission to .gitignore
  .gitignore
Due: none

Optimize rendering performance with request deduplication and thread pool execution
  custom_components/camera_snapshot_processor/camera.py
  custom_components/camera_snapshot_processor/const.py
  custom_components/camera_snapshot_processor/image_processor.py
Due: none

Release Camera Snapshot Processor 1.1.0
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/manifest.json
Due: check-frontend-files, validate-manifest

Implement smart dimension defaults and flexible slider ranges
  custom_components/camera_snapshot_processor/api.py
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/styles.css
Due: check-frontend-files, check-api-endpoints

Fix overlay background margins and add professional color picker with swatches
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/state-icon-manager.js
  custom_components/camera_snapshot_processor/frontend/styles.css
  custom_components/camera_snapshot_processor/image_processor.py
Due: check-frontend-files, check-api-endpoints

Redesign color picker with clean popup interface
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/state-icon-manager.js
  custom_components/camera_snapshot_processor/frontend/styles.css
  custom_components/camera_snapshot_processor/icon_option1.svg
  custom_components/camera_snapshot_processor/icon_option10.svg
  custom_components/camera_snapshot_processor/icon_option11.svg
  custom_components/camera_snapshot_processor/icon_option12.svg
  custom_components/camera_snapshot_processor/icon_option13.svg
  custom_components/camera_snapshot_processor/icon_option14.svg
  custom_components/camera_snapshot_processor/icon_option15.svg
  custom_components/camera_snapshot_processor/icon_option2.svg
  custom_components/camera_snapshot_processor/icon_option3.svg
  custom_components/camera_snapshot_processor/icon_option4.svg
  custom_components/camera_snapshot_processor/icon_option5.svg
  custom_components/camera_snapshot_processor/icon_option6.svg
  custom_components/camera_snapshot_processor/icon_option7.svg
  custom_components/camera_snapshot_processor/icon_option8.svg
  custom_components/camera_snapshot_processor/icon_option9.svg
  test_performance.py
Due: check-frontend-files, check-api-endpoints

Integrate Pickr professional color picker library
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/state-icon-manager.js
  custom_components/camera_snapshot_processor/frontend/styles.css
Due: check-frontend-files, check-api-endpoints

Fix text overlay background alignment issues
  custom_components/camera_snapshot_processor/image_processor.py
Due: none

Add separate background color setting for state icons
  custom_components/camera_snapshot_processor/const.py
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/image_processor.py
Due: check-frontend-files, check-api-endpoints

Add Clear buttons and simplify background color pickers
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
Due: check-frontend-files, check-api-endpoints

Remove hex/hexa toggle button from background color pickers
  custom_components/camera_snapshot_processor/frontend/panel.js
Due: check-frontend-files, check-api-endpoints

Fix: Clear suggested states section when switching entities
  custom_components/camera_snapshot_processor/frontend/state-icon-manager.js
Due: check-frontend-files

Add customizable entity name suffix
  custom_components/camera_snapshot_processor/camera.py
  custom_components/camera_snapshot_processor/const.py
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
Due: check-frontend-files, check-api-endpoints

Replace entity name suffix with professional full name editor
  custom_components/camera_snapshot_processor/camera.py
  custom_components/camera_snapshot_processor/const.py
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
Due: check-frontend-files, check-api-endpoints

Fix entity name editor to actually change entity ID, not just friendly name
  custom_components/camera_snapshot_processor/camera.py
  custom_components/camera_snapshot_processor/frontend/panel.js
Due: check-frontend-files, check-api-endpoints

Update entity ID directly without reload
  custom_components/camera_snapshot_processor/camera.py
  custom_components/camera_snapshot_processor/frontend/panel.js
Due: check-frontend-files, check-api-endpoints

Add validation to prevent duplicate entity IDs
  custom_components/camera_snapshot_processor/api.py
  custom_components/camera_snapshot_processor/frontend/panel.js
Due: check-frontend-files, check-api-endpoints

Use actual entity ID from HA registry as source of truth
  custom_components/camera_snapshot_processor/api.py
  custom_components/camera_snapshot_processor/frontend/panel.js
Due: check-frontend-files, check-api-endpoints

Add reload button to refresh all data from Home Assistant
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
Due: check-frontend-files, check-api-endpoints

Add professional loading overlay for reload operations
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/styles.css
Due: check-frontend-files, check-api-endpoints

Release Camera Snapshot Processor 1.2.0
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/manifest.json
Due: check-frontend-files, validate-manifest

Add GitHub Actions workflow for automated releases
  .github/workflows/release.yml
Due: none

Simplify Pickr color pickers with auto-update
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/state-icon-manager.js
Due: check-frontend-files, check-api-endpoints

Release Camera Snapshot Processor 1.2.1
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/manifest.json
Due: check-frontend-files, validate-manifest

Fix color picker button not updating when clicking outside
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/state-icon-manager.js
Due: check-frontend-files, check-api-endpoints

Fix color picker button preview not updating after color selection
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/state-icon-manager.js
Due: check-frontend-files, check-api-endpoints

Add multi-camera support for same source camera
  custom_components/camera_snapshot_processor/api.py
  custom_components/camera_snapshot_processor/frontend/panel.js
Due: check-frontend-files, check-api-endpoints

Rework cropping system with dual-image interface for better UX
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/styles.css
Due: check-frontend-files, check-api-endpoints

Potential fix for code scanning alert no. 34: Log Injection
  custom_components/camera_snapshot_processor/api.py
Due: check-api-endpoints

Potential fix for code scanning alert no. 35: Log Injection
  custom_components/camera_snapshot_processor/api.py
Due: check-api-endpoints

Potential fix for code scanning alert no. 36: Log Injection
  custom_components/camera_snapshot_processor/api.py
Due: check-api-endpoints

Add opacity support for all text and background colors
  custom_components/camera_snapshot_processor/const.py
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/state-icon-manager.js
  custom_components/camera_snapshot_processor/image_processor.py
Due: check-frontend-files, check-api-endpoints

Remove text/icon opacity controls, keep only background opacity
  custom_components/camera_snapshot_processor/const.py
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/state-icon-manager.js
  custom_components/camera_snapshot_processor/image_processor.py
Due: check-frontend-files, check-api-endpoints

Remove unused 'rect' variable in startDragCrop function
  custom_components/camera_snapshot_processor/frontend/panel.js
Due: check-frontend-files, check-api-endpoints

Add missing CSS for dual-image cropping interface
  custom_components/camera_snapshot_processor/frontend/styles.css
Due: check-frontend-files

Add text shadow support and interactive strftime documentation
  custom_components/camera_snapshot_processor/const.py
  custom_components/camera_snapshot_processor/frontend/panel.html
  custom_components/camera_snapshot_processor/frontend/panel.js
  custom_components/camera_snapshot_processor/frontend/styles.css
  custom_components/camera_snapshot_processor/image_processor.py
  custom_components/camera_snapshot_processor/translations/en.json
Due: check-frontend-files, check-api-endpoints

Center loading indicator over preview image
  custom_components/camera_snapshot_processor/frontend/styles.css
Due: check-frontend-files

Fix vertical scrolling for tall cropped preview images
  custom_components/camera_snapshot_processor/frontend/styles.css
Due: check-frontend-files

Fix vertical scrolling for preview panel with tall images
  custom_components/camera_snapshot_processor/frontend/styles.css
Due: check-frontend-files
